<div class="card" id="card">
    <div class="header-container" id="header-container">
        <app-header></app-header>
    </div>

    <mat-tab-group (selectedTabChange)="tabClick($event)" class="tab-grp">
        <mat-tab label="Employee Details">
            <div class="add-employee">
                <i matTooltip="Add Employee" type="button" (click)="addemployee()" class="fa fa-plus-circle"
                    style="float: right; font-size: 30px;"></i>
            </div>
            <div class="card-body" *ngIf="dataSourceEmployee" id="card-body">
               <div class="table-body">
                <table mat-table [dataSource]="dataSourceEmployee" id="table-striped" matSort #empDetailsSort="matSort"
                    (matSortChange)="sortChange($event)">
                    <ng-container matColumnDef="employeeCode">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Code </th>
                        <td class="select-code" [id]="element.employeeCode" mat-cell *matCellDef="let element"
                            (click)="showPersonalDetailsOnFirst($event)"> {{element.employeeCode}} </td>
                    </ng-container>

                    <ng-container matColumnDef="departmentName">
                        <th mat-header-cell *matHeaderCellDef> Department Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.departmentName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="designationName">
                        <th mat-header-cell *matHeaderCellDef> Designation Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.designationName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> Email </th>
                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td style="text-align: center;" mat-cell *matCellDef="let element">
                            <i matTooltip="Edit Employee" [hidden]="!element.active"
                                (click)="updateEmployee(element.employeeCode)" class="fa fa-pencil" style="margin-right: 24px;">
                            </i>
                         
                            <i *ngIf="element.roles['roleName'] != 'Super-admin'" matTooltip="De-Active Employee"
                                [hidden]="!element.active" (click)="deleteEmployee(element.employeeCode)"
                                class="fa fa-thumbs-down" style="color: red;"></i>

                            <i matTooltip="Active Employee" [hidden]="element.active"
                                (click)="activeEmloyee(element.employeeCode)" class="fa fa-thumbs-up"
                                style="color: green; margin-left: 40px;"></i>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="employeeDetailsColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: employeeDetailsColumns;"></tr>

                </table>
            </div>
                <mat-paginator paginationMode="server" #paginator [pageSizeOptions]="[3,5,7]"
                    (page)="onChangePage($event)" showFirstLastButtons></mat-paginator>
            </div>
    
            <div [hidden]="showDetailsOnFirst" class="show-pr-details" id="show-pr-details">
                <div class="row col-md-12">
                    <div class="col-md-11">
                        <h4>Personal Details</h4>
                    </div>
                    <div class="close-icon col-md-1">
                        <i class="fa fa-close" (click)="hidePopup('show-pr-details')"></i>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <div>
                            <label class="form-label">Employee Name</label>
                            <input type="text" [disabled]=true class="form-control"
                                value={{personalDetails.firstName}}{{personalDetails.lastName}} />
                        </div>
                        <div>
                            <label class="form-label">Age</label>
                            <input type="text" [disabled]=true class="form-control" value={{personalDetails.age}} />
                        </div>
                        <div>
                            <label class="form-label">Contact Number</label>
                            <input type="text" [disabled]=true class="form-control"
                                value={{personalDetails.contactNumber}} />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <label class="form-label">Address Line 1</label>
                            <input type="text" [disabled]=true class="form-control"
                                value={{personalDetails.addressLine1}} />
                        </div>
                        <div>
                            <label class="form-label">Address Line 2</label>
                            <input type="text" [disabled]=true class="form-control"
                                value={{personalDetails.addressLine2}} />
                        </div>
                        <div>
                            <label class="form-label">Address Line 3</label>
                            <input type="text" [disabled]=true class="form-control"
                                value={{personalDetails.addressLine3}} />
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Employee on leave">
            <app-display-leaves *ngIf="showDetailsOnSecond"></app-display-leaves>
        </mat-tab>
    </mat-tab-group>
    <div *ngIf="refreshIt">
        <app-refresh-token data-target="#refresh-popup" (refreshed)="tokenRefresh($event)"></app-refresh-token>
    </div>
</div>