<div class="modal" tabindex="-1" role="dialog" id="change-popup">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form class="bg-dark text-white" #changePassword [formGroup]="changePasswordForm">
        <div class="modal-header">
          <h5 class="modal-title">Change Password</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row  col-md-12">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">Employee code</label>
                <input type="text" id="employeeCode" placeholder="Enter Employee Code" formControlName="employeeCode"
                  class="form-control" name=employeeCode
                  [ngClass]="{ 'is-invalid': f['employeeCode'].invalid &&(submitted || f['employeeCode'].touched) }" />
                <div *ngIf="f['employeeCode'].invalid &&(submitted || f['employeeCode'].touched)"
                  class="invalid-feedback">
                  <div *ngIf="f['employeeCode'].invalid &&(submitted || f['employeeCode'].touched)">*EmployeeCode is
                    required</div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-label">Old Password</label>
                <input type="text" id="oldPassword" placeholder="Enter Old Password" formControlName="oldPassword"
                  class="form-control" name=oldPassword
                  [ngClass]="{ 'is-invalid': f['oldPassword'].invalid &&(submitted || f['oldPassword'].touched) }" />
                <div *ngIf="f['oldPassword'].invalid &&(submitted || f['oldPassword'].touched)"
                  class="invalid-feedback">
                  <div *ngIf="f['oldPassword'].hasError('required')">
                    *Old-Password is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">New Password</label>
                <input type="password" placeholder="Enter New Password" formControlName="password" class="form-control"
                  name=password id="password"
                  [ngClass]="{ 'is-invalid': f['password'].invalid &&(submitted || f['password'].touched) }" />
                <div *ngIf="f['password'].invalid &&(submitted || f['password'].touched)" class="invalid-feedback">
                  <div *ngIf="f['password'].invalid &&(submitted || f['password'].touched)">*Old-Password is required
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-label">Confirm Password</label>
                <input type="text" placeholder="Enter Confirm Password" formControlName="confirmPassword"
                  class="form-control" name=confirmPassword id="confirmPassword"
                  [ngClass]="{ 'is-invalid': f['confirmPassword'].invalid &&(submitted || f['confirmPassword'].touched) }" />
                <div *ngIf="f['confirmPassword'].invalid &&(submitted || f['confirmPassword'].touched)"
                  class="invalid-feedback">
                  <div *ngIf="f['confirmPassword'].invalid &&(submitted || f['confirmPassword'].touched)">
                    *Confirm-Password
                    is required</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="change-btn">
            <button type="submit" class="btn btn-outline-light btn-lg btn-success" (click)="onSubmit()">Submit</button>
            <button type="button" class="btn btn-outline-light btn-lg btn-cancel" (click)="close()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>