.bg-dark {
  background-color: #024d6b !important;
}

.forgot-change-password {
  width: 25%;
  height: 44%;
  position: relative;
  left: 10%;
}

#change-popup {
  display: block;
  top: 28%;
  left: 28%;
  border: 2px solid;
  border-color: white;
  border-radius: 8px !important;
  box-shadow: 5px 3px 17px 6px;
  width: 43%;
  height: 52%;
}

.modal-content {
  width: 122% !important;
}
.modal-header .close {
  margin-right: 1rem !important;
}

.modal-dialog {
  bottom: 4%;
  margin: 0 !important;
}

.btn--success {
  margin-right: 10px;
}

.btn--success:hover {
  background-color: green;
}

.btn-cancel:hover {
  background-color: red;
}

.change-btn {
  position: relative;
  right: 7%;
}