<div class="header-container" id="header-container">
    <app-header></app-header>
</div>
<div class="registration-container">
    <div class="registration-body">
        <div class="container">
            <div class="back-btn row col-md-12">
                <div class="col-md-10">
                    <h4>{{title}}</h4>
                </div>
                <div class="col-md-2">
                    <i class="fa fa-arrow-left" style="position: relative;top: 24%;left: 85%;" aria-hidden="true"
                        (click)="gotoList()"> Back </i>
                </div>
            </div>
            <div class="registration-form">
                <form #registration (ngSubmit)="onSubmit()" [formGroup]="registrationForm">
                    <div class="form-group">
                        <label for="name">Employee code</label>
                        <input type="text" class="form-control" id="employeeCode" required
                            placeholder="Enter Employee Code" formControlName="employeeCode" name=employeeCode
                            [disabled]="updateForm"
                            [ngClass]="{ 'is-invalid':f['employeeCode'].invalid &&(submitted || f['employeeCode'].touched)}" />
                        <div *ngIf="(f['employeeCode'].invalid &&(submitted || f['employeeCode'].touched))"
                            class="invalid-feedback">
                            <div *ngIf="f['employeeCode'].hasError('required')">*EmployeeCode is required!!</div>
                            <div *ngIf="f['employeeCode'].hasError('pattern')">*EmployeeCode is InValid pattern!!</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="name">First Name</label>
                        <input type="text" id="firstName" placeholder="Enter First Name" required
                            formControlName="firstName" class="form-control" name=firstName
                            (change)="onChangeForm($event)"
                            [ngClass]="{ 'is-invalid': f['firstName'].invalid &&(submitted || f['firstName'].touched) }" />
                        <div *ngIf="f['firstName'].invalid &&(submitted || f['firstName'].touched)" class="invalid-feedback">
                            <div *ngIf="f['firstName'].hasError('required')">*FirstName is required!!</div>
                            <div *ngIf="f['firstName'].hasError('pattern')">*FirstName doesn't contain space!!</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="name">Last Name</label>
                        <input type="text" id="lastName" placeholder="Enter Last Name" required
                            formControlName="lastName" class="form-control" name=lastName
                            [ngClass]="{ 'is-invalid': f['lastName'].invalid &&(submitted || f['lastName'].touched)  }" />
                        <div *ngIf="f['lastName'].invalid &&(submitted || f['lastName'].touched)"
                            class="invalid-feedback">
                            <div *ngIf="f['lastName'].hasError('required')">*LastName is required!!</div>
                            <div *ngIf="f['lastName'].hasError('pattern')">*LastName doesn't contain space!!</div>
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom: 0;">
                        <label class="name">Designations</label>
                        <mat-form-field class="select-box-custom"
                            [ngClass]="{ 'is-invalid':f['designationName'].invalid &&(submitted || f['designationName'].touched) }"
                            style="width: 100%;  height: 63px;">
                            <mat-select #designationSelect formControlName="designationName" name="designationName"
                                (selectionChange)="changeDesignation($event)" placeholder="Select designation" required>
                                <mat-option class="font-change" *ngFor="let designation of designations"
                                    [value]="designation.designationName">
                                    {{designation.designationName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div *ngIf="f['designationName'].invalid &&(submitted || f['designationName'].touched)"
                            class="invalid-feedback mrgin-btm">
                            <div *ngIf="f['designationName'].hasError('required')">*Designation is required!!</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="name">Address Line 1</label>
                        <input type="text" id="addressLine1" placeholder="Enter Address Line 1"
                            formControlName="addressLine1" class="form-control" name=addressLine1 />
                    </div>
                    <div class="form-group">
                        <label class="name">Address Line 2</label>
                        <input type="text" id="addressLine2" placeholder="Enter Address Line 2"
                            formControlName="addressLine2" class="form-control" name=addressLine2 />
                    </div>
                    <div class="form-group">
                        <label class="name">Address Line 3</label>
                        <input type="text" id="addressLine3" placeholder="Enter Address Line 3"
                            formControlName="addressLine3" class="form-control" name=addressLine3 />
                    </div>
                    <div class="form-group">
                        <label class="name">Contact Number</label>
                        <input type="text" id="contactNumber" placeholder="Enter 10-Digit Contact Number"
                            formControlName="contactNumber" class="form-control" name=contactNumber
                            [ngClass]="{ 'is-invalid':f['contactNumber'].invalid && f['contactNumber'].hasError('pattern') }" />
                        <div *ngIf=" f['contactNumber'].invalid && f['contactNumber'].hasError('pattern')" class="invalid-feedback">
                            <div *ngIf="f['contactNumber'].hasError('pattern')">*Contact number is Invalid!! </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="name">Email Id </label>
                        <input type="text" id="email" placeholder="Enter Employee E-mail Id" required
                            formControlName="email" class="form-control" name=email
                            [ngClass]="{ 'is-invalid':f['email'].invalid &&(submitted || f['email'].touched)}" />
                        <div *ngIf="f['email'].invalid &&(submitted || f['email'].touched)" class="invalid-feedback">
                            <div *ngIf="f['email'].hasError('required')">*E-mail is required!!</div>
                            <div *ngIf="f['email'].hasError('pattern')">*E-mail is Invalid!!</div>
                            <div *ngIf="f['email'].hasError('maxLength')">*E-mail length is up to 20 character!! </div>
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom: 0;">
                        <label>Role</label>
                        <mat-form-field
                            [ngClass]="{ 'is-invalid':f['roles'].invalid &&(submitted || f['roles'].touched)}"
                            style="width: 100%; height: 63px;">
                            <mat-select formControlName="roles" (selectionChange)="changeRoles($event)"
                                placeholder="Select role">
                                <mat-option *ngFor="let role of roleList" [value]="role.roleName">
                                    {{role.roleName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div *ngIf="f['roles'].invalid &&(submitted || f['roles'].touched)"
                            class="invalid-feedback mrgin-btm">
                            <div *ngIf="f['roles'].hasError('required')">*Role is required!!</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="name">Age</label>
                        <input type="text" id="age" placeholder="Enter Employee Age" formControlName="age"
                            class="form-control" name=age
                            [ngClass]="{ 'is-invalid':f['age'].invalid && f['age'].hasError('pattern') }" />
                        <div *ngIf=" f['age'].invalid && f['age'].hasError('pattern')" class="invalid-feedback">
                            <div *ngIf="f['age'].hasError('pattern')">*Age up to 3 numeric characters is accepted!! </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <!-- <h4>You submitted successfully!</h4> -->
            <button class="btn btn-success btn-outline-light btn-lg px-5" (click)="onSubmit()">Submit</button>
        </div>
    </div>
    <div *ngIf="refreshIt">
        <app-refresh-token data-target="#refresh-popup" (refreshed)="tokenRefresh($event)"></app-refresh-token>
    </div>
</div>